// Variables
@import "variables";
@import "helpers/spacing.scss";

// Bootstrap
@import "~buefy/dist/buefy.css";

// noty
@import "~vuejs-noty/dist/vuejs-noty.css";

// custom
body {
  overflow-y: scroll;
}

// animation
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}